nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1b2430;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  }
  .navbar-logo {
    width: 60px;
    height: 60px;
  }
  
  .navbar{
    display: flex;
  align-items: center;
  justify-content: center;
  }
  .navbar li{
    list-style: none;
    padding: 0px 10px;
    position: relative;
  }
  .navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
  }
  .navbar li a:hover,
.navbar li a.active {
  color: #A41857;
}

.navbar li a:hover::after,
.navbar li a.active::after {
  content: "";
  width: 50%;
  height: 2px;
  background: #A41857;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
.nav-menu {
    display: flex;

}