nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000;
  padding: 10px 20px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); */
}
.navbar-logo {
  width: 60px;
  height: 60px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0px 10px;
  position: relative;
}
.nav-links {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 200;
  color: #fff;
  transition: 0.3s ease-in-out;
  padding: 0px 10px;
}

/* .nav-links.active {
  color: #A41857;
} */

/* .nav-links:hover::after,
.nav-links.active::after {
  content: "";
  width: 50%;
  height: 2px;
  background: #A41857;
  position: absolute;
  bottom: -4px;
  left: 20px;
} */
.menu-icon {
  display: none;
}

@media screen and (max-width: 769px) {
  .nav-menu {
    display: none;
  }
  #nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 83px;
    right: 0px;
    width: 300px;
    height: 100vh;
    background-color: #2a3539;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  .nav-menu li {
    cursor: pointer;
  }
  /* nav-menu-active{
    right: 0px;
  } */
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .menu-icon li {
    list-style: none;
  }
  .nav-menu li {
    margin-bottom: 0px;
    font-size: 25px;
  }
}
